/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto&display=swap');
/*VARIABLES*/
html {
    font-size: 62.5%;
}
:root{
    /* Palette */
    --primary: #001C55;
    --secondary: #0A2472;
    --tertiary: #0C488D;
    --light: #FDFDFD;
    --dark: #000;
    /* Font Sizes */
    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-lg: 2.4em;
    --text-md: 2.0em;
    --text-sm: 1.6em;
    --text-xs: 1.4em;
    /* Spacing */
    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;
}
/*NORMALIZE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
/* BOOTSTRAP DESREBOOT*/
body {
    font-family: none;
}
a{
    color: none;
    text-decoration: none;
}
/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--light);
    background-color: var(--secondary);
}

/* HEADER */


/* MAIN*/
main {
    width: 100vw;

}
img {
    display: inline;
}
#cuerpo {
    margin: var(--sp-xs);
}
.definicion {
    background-color: var(--tertiary);
    height: fit-content;
    width: 100vw;
}