$primary-color:green;
 $primary: #ff69eb;
 $secondary: #ff86c8;
 $tertiary: #ffa3a5;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto&display=swap');

/* MISC */
@import "./misc/variables";
@import './misc/normalize';
/* PARTIAL */
@import './patial/header';
@import './patial/footer';
/* PAGES */
@import './pages/casas';
@import './pages/elementos';
@import './pages/index';
@import './pages/signos';
@import './pages/planetas';
