.navbar {
background-color: $secondary;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__link {
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--light);
    flex-direction: row;
    font-size: var(--text-xs);
}
.nav-link:hover{
    background-color: $quaternary;
}
.logo{
    height: 3rem;
}