 /* Palette */
 $primary: #F686BD;
 $secondary:  #FE5D9F;
 $tertiary: #fdecf3;
 $quaternary: #cb13db;
 $light: #FDFDFD;
 $dark: #000;

 /* Font Sizes */
 $text-xxl: 4.8em;
 $text-xl: 3.6em;
 $text-lg: 2.4em;
 $text-md: 2.0em;
 $text-sm: 1.6em;
 $text-xs: 1.4em;

 /* Spacing */
 $sp-xxl: 12rem;
 $sp-xl: 8rem;
 $sp-lg: 5rem;
 $sp-md: 3.2rem;
 $sp-sm: 1.6rem;
 $sp-xs: 0.8rem;