#planetas{
    .definicion{
        margin-left: $sp-xl;
        margin-right: $sp-xl;
        &__titulo{
            font-size: $text-xxl;
        }
        &__contenido{
            font-size: $text-lg;

            }
        }
    .clasificacion{
        margin-left: $sp-md;
        margin-right: $sp-md;
        gap: $sp-md;
        &__box{
            padding: $sp-xs;
            background-color: $tertiary;
            color: $secondary;
        }
        &__titulo{
            font-size: $text-xl;
            display: inline;
        }
        &__contenido{
            font-size: $text-md;
            &--signo{
                color: $quaternary;
            }
        }
    }
}
@media (max-width: 768px ){
    #planetas{
        .clasificacion{
            &__box{
                margin-bottom: $sp-md
            }
        }
    }
}
@media (min-width: 769px) {
    #planetas{
        .clasificacion{
            display: grid;
            grid-template-areas:
            "box-1 box-2"
            "box-3 box-4"
            "box-5 box-6"
            "box-7 box-8"
            "box-9 box-10";
        }
    }
}
@media (min-width: 1200px) {
    #planetas{
        .clasificacion{
            display: grid;
            grid-template-areas:
            "box-1 box-2 box-3"
            "box-4 box-5 box-6"
            "box-7 box-8 -box-9"
            "box-10";
        }
    }
}